.env*
pytest.ini
cron_file
sqlite
env_crawler
venv*
htmlcov
tox*
.tox
.git
__pycache__
**/__pycache__
*.log
*.pyc
.pytest_cache
.coverage
dist
docker-compose.yaml
.github
*.prof
pkg_compare_cv.egg-info
*.egg-info
*.db
.coverage
.vscode
htmlcov
tests
test-requirements.txt
add_fake_data_to_databse.py
.gitignore