appdirs==1.4.4
attrs==21.2.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
coverage==6.2
cssselect==1.1.0
dataclasses==0.6
fake-useragent==0.1.11
Flask==2.0.2
idna==3.3
importlib-metadata==4.8.2
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
lxml==4.6.4
MarkupSafe==2.0.1
nltk==3.6.5
numpy==1.19.5
packaging==21.3
parse==1.19.0
pluggy==1.0.0
psycopg2==2.9.2
py==1.11.0
pydantic==1.8.2
pyee==8.2.2
pyparsing==3.0.6
pyppeteer==0.2.6
pyquery==1.4.3
pytest==6.2.5
regex==2021.11.10
requests==2.26.0
requests-html==0.10.0
scikit-learn==0.24.2
scipy==1.5.4
selenium==3.141.0
six==1.16.0
sklearn==0.0
snakeviz==2.1.1
soupsieve==2.3.1
threadpoolctl==3.0.0
toml==0.10.2
tornado==6.1
tqdm==4.62.3
typeguard==2.13.2
typer==0.4.0
typing-extensions==4.0.0
Unidecode==1.3.2
urllib3==1.26.7
w3lib==1.22.0
waitress==2.0.0
websocket-client==1.2.1
websockets==9.1
Werkzeug==2.0.2
zipp==3.6.0
