table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {	  
    text-align: left;
    padding: 6px;
}

tr:nth-child(even) {
    background-color: #d5dfdf;
}

.jumbotron {
    background-color: #0c3974;
    color: #fff;
    padding: 0px 25px;
    font-family: Montserrat, sans-serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
 }

 body {
    background-color: #0c3974;
 }

 .card {
     color: white;
     height: 100px;
 }