table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {	  
    text-align: left;
    padding: 6px;
}

tr:nth-child(even) {
    background-color: #d5dfdf;
}

.jumbotron {
    background-color: #0c3974;
    color: #fff;
    padding: 25px 25px;
    font-family: Montserrat, sans-serif;
}

html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  background-color: #0c3974;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}