body {
    background-color: white;
    position: relative;
    text-align: center;
    overflow-x: hidden;
}

.add-blanks {
    width: 100%;
    margin-left: 0 auto;
}

body::after {
    content: '';
    display: block;
    height: 30px;
    /* Set same as footer's height */
}

p {
    color: black;
}

.disclaimer {
    color: black;
    text-align: justify;
}

a {
    color: blue
}

h3 {
    columns: black;
}

.nav-background {
    height: 50px;
    background-color: pink;
}

.custom-nav {
    position: fixed;
    top: 1;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: black;
    height: 30px;
    /* Set same as body's height */
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    text-align: left;
}

tr:nth-child(even) {
    /* background-color: black; */
}

.jumbotron {
    background-color: #0c3974;
    color: black;
    padding: 0px 25px;
    font-family: Montserrat, sans-serif;
}

.custom-content {
    background-color: black;
    align-items: center;
}

.custom-img {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid;
    border-color: black;
}

.truncate {
    /**Major Properties**/
    overflow: hidden;
    line-height: 2rem;
    max-height: 8rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
}

.truncate-url {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.media-img {
    width: 100px;
    height: 100px;
    text-align: center;
    border: 1px solid;
    border-color: black;
}

.custom-col {
    text-align: center;
    height: 150px;
}

.custom-col-logo {
    text-align: left;
    width: 30%;
}

.custom-col-logo-txt {
    display: table-cell;
    text-align: left;
    color: black;
    vertical-align: middle;
    padding: 5px;
    width: 70%;
}

.custom-logo {
    width: 50px;
    height: 50px;
}

.radio {
    color: black;
}