<!doctype html>
<head>
    
</head>
<body class="loading">
    <h1 style="text-align: center; font-size: 50px;">500</h1>
    <h3 style="text-align: center;">Unexpected Error</h3>
    <h3 style="text-align: center;">
        <a href="https://github.com/douglasdcm/crawler_of_positions/issues/new?assignees=&labels=&template=bug_report.md&title=">
            Report an issue
        </a>
    </h3>
    <p style="text-align: center;">
        <img src="{{url_for('static', filename='images/github.png')}}"; width="50" height="50">
    </p>

</body>