<!DOCTYPE html>
<html lang="en">
	<head>
		
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		
		<!---->

		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    	<title>Vagas pra mim</title>

		<!--Ads-->
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1707628226873517"
     crossorigin="anonymous"></script>
	
  </head>
  <body>
	<div class="container">
        {% include "nav.html" %}
		<div class="container" style="margin-top: 50px;">
		    {% include "search-form.html" %}
		    {% include "media-list.html" %}
        </div>
		{% include "footer.html" %}
	</div>
  </body>
</html>