<script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}"></script>

<!DOCTYPE html>
<html lang="en">
	<head>
		
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		
		<!---->

		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    	<title>Vagas pra mim</title>

		<!--Ads-->
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1707628226873517"
     crossorigin="anonymous"></script>
	
  </head>
  <body>
	<div class="row">
		<div class="col-md-1 col-sm-1 col-xs-1 col-lg-1 custom-col-logo">
		  <div>
			  <img src="https://www.w3schools.com/bootstrap/paris.jpg" class="custom-logo img-circle" alt="">
		  </div>
		</div>
		<div class="custom-col-logo-txt col-md-11 col-sm-11 col-xs-11 col-lg-11">
			<h3>Pesquise as vagas que mais combinam com o seu currículo</h3>
		</div>
	</div>
	<div class="container-fluid">
		<div class="container-fluid text-center">
			<form>
				<div class="form-group row">
					<div class="col-md-offset-2 col-md-7">
							<textarea id="message_field" class="form-control" rows="5" id="comment" placeholder="Cole o conteúdo do seu currículo aqui..."></textarea>
						</div>
						<div class="col-md-1">
						<div class="input-group-btn">
						<input class="btn btn-danger" id="send_message" type="submit" value="Pesquisar">
						</div>
					</div>
				</div>
			</form>
			<div class="container"> 
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				  </ol>
			  
				  <!-- Wrapper for slides -->
				  <div class="carousel-inner">
					<div class="custom-img item active">
						<div class="row">
							<div class="col-md-2 col-xs-4 custom-col">
								<a href="cavalo.jpeg">
								<img src="cavalo.jpeg" class="custom-img img-rounded" alt="test image">
								<div class="caption">
									<p>QA e DEV parem de brigar</p>
								</div>
							</div>
							<div class="col-md-2 col-xs-4 custom-col">
								<img src="https://www.w3schools.com/bootstrap/paris.jpg" class="custom-img img-rounded" alt="test image">
							</div>
							<div class="col-md-2 col-xs-4 custom-col">
								<img src="https://www.w3schools.com/bootstrap/paris.jpg" class="custom-img img-rounded" alt="test image">
							</div>
							<div class="col-md-2 col-xs-4 custom-col">
								<img src="https://www.w3schools.com/bootstrap/paris.jpg" class="custom-img img-rounded" alt="test image">
							</div>
							<div class="col-md-2 col-xs-4 custom-col">
								<img src="https://www.w3schools.com/bootstrap/paris.jpg" class="custom-img img-rounded" alt="test image">
							</div>
							<div class="col-md-2 col-xs-4 custom-col">
								<img src="https://www.w3schools.com/bootstrap/paris.jpg" class="custom-img img-rounded" alt="test image">
							</div>
						</div>
					</div>
			  
					<div class="custom-img item">
						<div class="row">
							<div class="col-md-2 col-xs-4 custom-col">
								<a href="cavalo.jpeg">
								<img src="cavalo.jpeg" class="custom-img img-rounded img-responsive" alt="test image">
								<div class="caption">
									<p>QA e DEV parem de brigar</p>
								</div>
							</div>
							<div class="col-md-2 col-xs-4 custom-col">
								<img src="placas.jpg" class="custom-img img-rounded img-responsive" alt="test image">
							</div>
							<div class="col-md-2 col-xs-4 custom-col">
								<img src="https://www.w3schools.com/bootstrap/paris.jpg" class="custom-img img-rounded img-responsive" alt="test image">
							</div>
							<div class="col-md-2 col-xs-4 custom-col">
								<img src="https://www.w3schools.com/bootstrap/paris.jpg" class="custom-img img-rounded img-responsive" alt="test image">
							</div>
							<div class="col-md-2 col-xs-4 custom-col">
								<img src="https://www.w3schools.com/bootstrap/paris.jpg" class="custom-img img-rounded img-responsive" alt="test image">
							</div>
							<div class="col-md-2 col-xs-4 custom-col">
								<img src="https://www.w3schools.com/bootstrap/paris.jpg" class="custom-img img-rounded img-responsive" alt="test image">
							</div>
						</div>
					</div>
				  
					<div class="custom-img item">
						<div class="row">
							<div class="col-md-2 col-xs-4 custom-col">
								<a href="https://www.w3schools.com/bootstrap/paris.jpg">
								<img src="https://www.w3schools.com/bootstrap/paris.jpg" class="custom-img img-rounded img-responsive" alt="test image">
								<div class="caption">
									<p>QA e DEV parem de brigar</p>
								</div>
							</div>
							<div class="col-md-2 col-xs-4 custom-col">
								<img src="https://www.w3schools.com/bootstrap/paris.jpg" class="custom-img img-rounded img-responsive" alt="test image">
							</div>
							<div class="col-md-2 col-xs-4 custom-col">
								<img src="https://www.w3schools.com/bootstrap/paris.jpg" class="custom-img img-rounded img-responsive" alt="test image">
							</div>
							<div class="col-md-2 col-xs-4 custom-col">
								<img src="https://www.w3schools.com/bootstrap/paris.jpg" class="custom-img img-rounded img-responsive" alt="test image">
							</div>
							<div class="col-md-2 col-xs-4 custom-col">
								<img src="https://www.w3schools.com/bootstrap/paris.jpg" class="custom-img img-rounded img-responsive" alt="test image">
							</div>
							<div class="col-md-2 col-xs-4 custom-col">
								<img src="https://www.w3schools.com/bootstrap/paris.jpg" class="custom-img img-rounded img-responsive" alt="test image">
							</div>
						</div>
					</div>
				  </div>
			  
				  <!-- Left and right controls -->
				  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span class="sr-only">Previous</span>
				  </a>
				  <a class="right carousel-control" href="#myCarousel" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
					<span class="sr-only">Next</span>
				  </a>
				</div>
			  </div>
			  <br>
			<div id="table-wrapper" class="container">
				<div id="response">						  
					<!--table here-->
				</div>						  
			</div>
		</div>
	</div>
	<div class="footer">
		<p>Copyright © 2021 | <a href="https://www.linkedin.com/company/vagaspramim/">LinkedIn</a></p>
	</div>
  </body>
</html>