<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}"></script>

<!DOCTYPE html>
<html lang="en">
	<head>
	  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	  
	  <!-- Required meta tags -->
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  
	  <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	
      <title>Vagas pra mim</title>
	
  </head>
  <body>
	<br>
	<div>
		<header>
			Pesquise as vagas que mais combinam com o seu currículo<br />			
		<h6><a href="https://github.com/douglasdcm/crawler_of_positions">Git Hub repository</a></h6>
		</header>		
		  <nav>
			  <img src="/static/andrew-neel-ute2XAFQU2I-unsplash.jpg" alt="source: https://unsplash.com/photos/ute2XAFQU2I" style="width:100%;height:100%;">
		</nav>
		<section>
			<article>
			<div>
				<form>
					<div class="float-container">
						<textarea id="message_field" placeholder="Cole o conteúdo do seu currículo aqui..."></textarea>
						<div class="float-child-right">
							<input id="send_message" type="submit" value="Pesquisar">
						</div>
					</div>
				</form>
				<div id="table-wrapper">
					<div id="table-scroll" style="overflow: scroll; height: 65%;">
						<h4 id="response"></h4>
						<!--table here-->
					</div>
				</div>
			</div>
			</article>
		</section>
		<footer>
		  <p>Copyright © 2021 | <a href="https://www.linkedin.com/in/douglas-cardosom/">LinkedIn</a></p>
		</footer>
	</div>
  </body>
</html>