<!doctype html>
<br>
<div class="add-blanks">
    <h4 style="text-align: left;">{{ media_list_title }}</h4>
    {% for image in images_data %}
        <div class="media">
            <hr>
            <div class="media-left">
                <a href="{{ image.link }}" target="_blank">
                    <img class="media-img media-object img-rounded" src="{{ image.image }}" alt="...">
                </a>
            </div>
            <div class="media-body">
                <a href="{{ image.link }}" target="_blank" style="color: black;">
                    <h4 class="text-left media-body">{{ image.caption }}</h4>
                </a>
                <p class="text-left truncate">{{ image.description }}</p>
            </div>
        </div>
    {% endfor %}
</div>
