<!doctype html>
<br>
<div class="add-blanks">
    <h3 style="text-align: left;">{{ media_list_title }}</h3>
    {% for image in images_data %}
    <div class="media">
        <hr>
        <div class="media-left">
            <a href="{{ image.link }}" target="_blank">
                <img class="media-img media-object img-rounded" src="{{ image.image }}">
            </a>
        </div>
        <div class="media-body">
            <a href="{{ image.link }}" target="_blank" style="color: black;">
                <u>
                    <h4 class="text-left media-body">{{ image.caption }}</h4>
                </u>
            </a>
            <p class="text-left truncate">{{ image.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>