<!doctype html>
<nav class="navbar navbar-fixed-top add-blanks" style="background-color: white;">
    <div class="container-fluid">
      <div class="navbar-header">
        {% include "components/image_favicon.html" %}
        <form action="/" method="post" class="btn navbar-btn">
          {% include "components/button_flags.html" %}
        </form>
        {% include "components/image_github.html" %}
        <form action="/about" method="post" class="btn navbar-btn">
          <button style="background: none; border: none;">
            <img src="{{url_for('static', filename='images/about.png')}}"; width="25" height="25">
          </button>
        </form>
        {% include "components/image_contact.html" %}
      </div>
    </div>
  </nav>
<br>