<!DOCTYPE html>
<div class="add-blanks">
    <form action="/search" method="post">
        <div class="form-group row">
            <div class="col-md-10">
                <textarea name="message" id="message_field" class="form-control" rows="5" id="comment" maxlength="5000"
                    placeholder="{{ resume_field_placeholder }}">{{ resume }}</textarea>
            </div>
            <br>
            <div class="col-md-1">
                <div class="input-group-btn">
                    <input class="btn btn-primary" id="send_message" type="submit"
                        value="{{ button_send_message_label }}">
                </div>
                <div class="radio col-md-1 text-left">
                    <input type="radio" id="cond_or" name="condition" value="OR" checked=checked />
                    <label for="cond_or">{{ condition_or_label }}</label>
                    <br>
                    <input type="radio" id="cond_and" name="condition" value="AND">
                    <label for="cond_and">{{ condition_and_label }}</label>
                </div>
            </div>
        </div>
    </form>
</div>