<div class="add-blanks">
    {% if comparison.status == "failed" %}
    <h4 style="text-align: left; color: white;">{{ comparison.message }}</h4>
    {% else %}
    {% for item in comparison.message %}
    <div class="row" style="text-align: left;">
        <div class="col-md-2">
            <p>{{ search_grid_label }} {{ item['similarity'] }}%</p>
        </div>
        <div class="col-md-8" style="text-align: justify;">
            <a class="position-link" href="{{ item['url'] }}" target="_blank" rel="noopener noreferrer"> {{ item['summary'] }} </a>
        </div>
    </div>
    <br>
    {% endfor %}
    {% endif %}
</div>